li{
    list-style: none;
}
.tool{
    background:url("../img/tbg.jpg");
    width:400px !important;
    height:970px;
    font-family: "Microsoft YaHei";
    overflow: auto;
    display: none;
}

.tool_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
}
.model_order{
    width:150px;
    margin-right: 10px;
    margin-left: 10px;
    float:right;
}
.model_order ul{
    padding:0px;
    list-style: none;
}

.model_order ul li{
    height: 43px;
    margin-bottom: -1px;
    border:1px solid #888;
    background-color: #ddd;
    cursor:pointer;
}
.model_order ul li:hover {
    background-color: #c5c5c5;
}
.model_order_sel{
    color:white;
    background-color: #66afe9 !important;
}

.model_order_icon{
    width:11px;
    float:left;
    padding-top:2px;
    padding-left:5px;
}
.model_order_txt{
    display: inline-block;
    padding-left:5px;
    height:43px;
    width:88px;
    line-height: 43px;
    float:left;
}
.model_order ul li a{
    display:block;
    width:11px;
    height:18px;
    float:left;
    margin-right:5px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.model_del{
    float:right;
    width:30px;
    height:30px;
}
.model_del_icon{
    display: inline-block;
    width:30px;
    height:30px;
    background-image: url(../img/c.png);
}
.model_up{
    background-image: url(../img/u.png);
}
.model_up:hover{
    background-image: url(../img/u_h.png);
}
.model_down{
    background-image: url(../img/d.png);
}
.model_down:hover{
    background-image: url(../img/d_h.png);
}
.color{
    border:1px solid #999;
    margin-bottom: -1px;
    width:75px;
    height:30px;
}
.li_hidden{
    display: none;
}
.current_tool{
    width:208px;
    float:right;
    text-align: center;
}
.current_tool ul{
    padding:0px;
}
.current_tool p{
    margin-bottom: 5px;
}
.current_tool input{
    text-align: center;
}
.color_float{
    float:left;
    margin-left: -1px;
}
.color_float_div{
    margin-top:2px;
    padding-left:1px;
    height:60px;
}